*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.users-box{
    width: 390px;
    height: auto;
    padding: 10px;
    background-color: lightgray;
}
p,h2{
    margin-top: 10px;
}
.wrapper{
    width: 800px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 20px
    
    ;
   
}